/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2018, 4:34:22 AM
    Author     : Yasir
*/



body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;

}
@font-face{
    font-family: 'newfont';
    src: url(./../fonts/good.ttf);
}


/* header styling*/

.header{
    width:100%;
    position: fixed;
    background-color: #ffba66;
    box-shadow:0px 4px 8px #FFDCB2;
    z-index: 5;
    
}

.logo ul li,.navbar ul li{
    display: inline;
}
.logo{
    display:inline-block;
    width:auto;
    color: white;
    font-size: 16px;
    word-spacing:0px;
    letter-spacing: 2px;
    font-family: cursive;
    opacity:.7;
}
.logo:hover{
    opacity:1;
    font-size:16.5px;

}
.logo ul li img {
    vertical-align: middle;
}
.navbar ul li a{
    padding:10px 20px;
    text-decoration: none;
    color: #000000;
    opacity:0.7;
    
    
}

.navbar ul li a:hover{
    background-color: rgba(0,0,0,.2);
    border-radius:5px;
    color:white;
    transition:.5s;
        
    opacity:1;
}


.logo ul {
    margin:0px;
}
.navbar{
    display:inline-block;
    width: auto; 
    float: right;
}


/* title imge */

div.box-1{
    height:300px;
    padding-top: 50px;
    width:100%;
    background: url(./../images/main.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

div.box-1 h1, div.box-1 p{
    margin:0px auto;;
    width:fit-content;
}
div.box-1 h1{
    margin-top:20px;
    font-weight:normal;
    font-size:800%;
    font-family:newfont;
    color:white;
    text-shadow: 0px 0px 10px black;

}
div.box-1 p{
    font-size:40px;
    margin-top:40px;
    color:white;
    text-shadow: 0px 0px 10px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}


/* styling for nav bar and title image ends here*/


div.main{
    width:100%;
}

/*left side navigation bar*/

div.service-bar-left{
    width:15%;
    float:left;
    background-color:#cccccc;
}


div.service-bar-left >div > ul{
    padding:0px 12px;
    list-style: none;
}
div.service-bar-left div>ul>li{
    color:green;
}

div.service-bar-left >div>ul>li>ul{  /* targets nested ul*/
    list-style:none;
    padding-left:20px;
    padding-bottom:10px;
}

div.service-bar-left > div>ul>li>ul li{  /* targets li of nested ul*/
}

div.service-bar-left > div> ul  a{
    padding:10px 0px 10px 5px;
    border-radius:5px;
    display:block;
    text-decoration:none;
    color:green;
}


div.service-bar-left >div> ul > li > a{
    font-weight:bold;
    font-size:20px;
}
div.service-bar-left >div>ul  a:hover{
    color: #cc6a29;
    background-color:rgba(0,0,0,.2);
}


/* styling for page content starts here*/

div.content{
    width:100%;
   
}


/* for left side box */

div.content >div.left-content{
    float:left;
    width:82%;
    margin-left:25px;
}


div.content > div.left-content> div.content-child-1{
   height: 374px;
   background-color:#CCCCCC;
}


div.content >div.left-content> div.content-child-1 div.child-1-img{
    width:fit-content;
    float:left;
}

div.content >div.left-content> div.content-child-1 div.child-1-img img {
    width:100%;
}
div.content >div.left-content> div.content-child-1 div.child-1-text ul{
    width:59%;
    padding:0px;
    padding-top:40px;
    
    list-style: none;
    float:right;
    line-height: 2em;
    font-size:120%;
}



div.content >div.left-content> div.content-child-1 span{
    font-size:300%;
    margin-left:50px;
    color: #cc6a29;
}

div.content >div.left-content> div.content-child-1 p{
    margin-left:50px;
    word-spacing:5px;
    color:#000000;
}



.about_movers
{
    width: 70%;
}



/* styling for img-descrition-box-3 starts here*/



/* styling for childs */
div.image-wrapper, div.text-wrapper{
    width:50%;
    float:left;
    height:300px;
}
div.image-wrapper img{
    width:100%;
    border-radius:49%;
    margin-top:22px;
}

div.text-wrapper p{
    font-size:120%;
    line-height: 2em;
    padding: 61px 75px;
    text-align: justify;
}

/* styling for box-3-child-2*/
div.box-3-child-2{
    background-color: #cccccc;
    height: 302px;
    margin-top: 302px;
}



/* for member ship list*/

div.content >div.membership-list{
   
    float: left;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
}

div.left-content >div.membership-list img{
    width:20%;
    margin:30px;
}

div.content >div.membership-list span{
    font-size:300%;
    color: #cc6a29;
}




/* for footer of the page*/




/*for  footer */

div.footer{
    margin-top:0px;
}

div.address{
    width:80%;
    margin:0px auto;
    height:212px;
    border-bottom:1px solid grey;
}

div.address div{
    float:left;
    width:20%;  
    height:200px;
    padding:0px 21px;
    padding-bottom:10px;
    margin:0px auto;
}
div.address img{
    height:70px;
}

div.copy-right{
    background-color:#E8E8E8;
    height:100px;
    text-align: center;
    margin-top:50px;
}
