/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2018, 10:13:03 PM
    Author     : Yasir
*/


body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}


@font-face{
    font-family: 'newfont';
    src: url(./../fonts/good.ttf);
}

/* header styling*/

.header{
    width:100%;
    position: fixed;
    background-color: #ffba66;
    box-shadow:0px 4px 8px #FFDCB2;
    z-index: 5;
    
}

.logo ul li,.navbar ul li{
    display: inline;
}
.logo{
    display:inline-block;
    width:auto;
    color: white;
    font-size: 16px;
    word-spacing:0px;
    letter-spacing: 2px;
    font-family: cursive;
    opacity:.7;
}
.logo:hover{
    opacity:1;
    font-size:16.5px;

}
.logo ul li img {
    vertical-align: middle;
}
.navbar ul li a{
    padding:10px 20px;
    text-decoration: none;
    color: #000000;
    opacity:0.7;
    
    
}

.navbar ul li a:hover{
    background-color: rgba(0,0,0,.2);
    border-radius:5px;
    color:white;
    transition:.5s;
        
    opacity:1;
}


.logo ul {
    margin:0px;
}
.navbar{
    display:inline-block;
    width: auto; 
    float: right;
}

div.content{
padding-top:46px;

}

/* nav bar left */

div.navbar-left{
    width:18%;
    margin: 0px 35px;
    padding: 20px;
    float:left;
    border:1px solid grey;
    background-color: tomato;
}
div.navbar-left-firstchild {
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}
div.navbar-left div.link{
    text-decoration:none;
    color: #cc6a29;
    text-align:right;
}
div.navbar-left div.navbar-left-secondchild{
    margin-top:20px;
}
div.navbar-left span{
    font-size:20px;
    color: aliceblue;
}

/* for content on the side of navbar*/

div.content-left{
    width:74%;
    float:left;
}




div.title-img{
    height:300px;
    padding-top: 50px;
    width:100%;
    background: url(./../images/main.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

div.title-img h1, div.title-img p{
    margin:0px auto;;
    width:fit-content;
}
div.title-img h1{
    margin-top:20px;
    font-weight:normal;
    font-size:800%;
    font-family:newfont;
    color:white;
    text-shadow: 0px 0px 10px black;

}
div.title-img p{
    font-size:40px;
    margin-top:40px;
    color:white;
    text-shadow: 0px 0px 10px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}






/* for childs of side content*/

/* box-1 styling*/

div.box-1 div{
    float:left;
    width:fit-content;
}

div.box-1 div.text{
    width:59%;
}
div.box-1 div.image img{
    width:480px;
    
}
div.box-1{
    
    width:100%;
    background-color: #cccccc;
    height:400px;
    text-align: center;
    padding: 10px;
}
div.box-1 span{
    font-size: 300%;
}
div.box-1 ul{
    line-height: 2em;
    text-align: left;
    font-size:120%;
    list-style: none;
}


/* for box-2*/

div.box-2{
    margin-left:100px;
}
div.box-2 ul{
    margin:0px;
    padding-bottom:40px;
    word-spacing: 3px;
}

div.box-2 span{
    color: #cc6a29;
    font-weight: bold;
    font-size: 150%;
}
div.box-2 h1{
    color: #cc6a29;
    font-size:300%;
}

/* for estimation div (at the bottom of page)*/

div.estimation{
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    margin-left: 100px;
}




/*for  footer */

div.footer{
    margin-top:0px;
}
div.address{
    width:80%;
    margin:0px auto;
    height:212px;
    border-bottom:1px solid grey;
}

div.address div{
    float:left;
    width:20%;  
    height:200px;
    padding:0px 21px;
    padding-bottom:10px;
    margin:0px auto;
}
div.address img{
    height:70px;
}

div.copy-right{
    background-color:#E8E8E8;
    height:100px;
    text-align: center;
    margin-top:50px;
}
